body {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    background: rgb(237,140,183);
background: linear-gradient(90deg, rgba(237,140,183,1) 29%, rgba(107,207,236,1) 73%);
}

h1{
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(190,102,102,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
#but {
    text-align: center;
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

input {
    outline: 0;
}

.user {
    text-align: center;
    padding: 1%;
}

#main {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background: rgb(233,215,223);
    background: linear-gradient(90deg, rgba(233,215,223,1) 29%, rgba(189,214,221,1) 73%);
    margin: 0 12%;
}
#gameBox {
    width: 50%;
    
}

.scr {
    height: 143px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: larger;
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(190,49,49,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}